body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header{
    display: flex;
    align-items: center;
} */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-bar {
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}

/* .welcome-header{
    display: block;
    align-items: center;
}

.welcome-header__title {
    display: flex;
    align-items: center;
}

.welcome-form {
    display: flex;
    align-items: center;
} */