.chat-screen {
    background-color: #abc1d1;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
    color:white;
    width: 50%;
    margin: 10px 25%;
    padding: 10px;
    border-radius: 30px;
}
