.screen-div {
    display: flex;
    width: 100%;
    padding: 15px;
    background-color:#FAFAFA ;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.screen-div__info {
    color:#D5D5D5;
}

.screen-div__title {
    padding: 0px 5px;
}

.screen-div__next {
    color:#D5D5D5;
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }

}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;

    animation: hideSplashScreen 0.2s ease-in-out forwards;
    animation-delay: 1.3s;
}

