.screen-div {
    display: flex;
    width: 100%;
    padding: 15px;
    background-color:#FAFAFA ;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.screen-div__info {
    color:#D5D5D5;
}

.screen-div__title {
    padding: 0px 5px;
}

.screen-div__next {
    color:#D5D5D5;
}

.friends-screen__channel{
    border-top: 1px solid #D5D5D5;
    padding-top: 15px;
    margin-top: 25px;
}

.friends-screen__channel-title {
    margin-bottom: 30px;
    display: flex;
    color :#D5D5D5;
    justify-content: space-between;
}

