.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top:0.5px solid rgba(79, 79, 79, 0.518);
    position : fixed;
    bottom : 0;
    width: 100%;
    box-sizing: border-box;

}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav__link {
    color : #2F363E;
    position: relative;
}

.nav__notification {
    background-color: tomato;
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 14px;
        /* 사각형을 원으로 만들고 싶으면 반px를 쓴다. */
    justify-content: center;
    color :#f9f9fa;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left : 15px;
    bottom : 10px;
}

.nav__notice {
    background-color: tomato;
    width: 4px;
    height: 4px;
    display: flex;
    border-radius: 2px;
        /* 사각형을 원으로 만들고 싶으면 반px를 쓴다. */
    justify-content: center;
    color :#f9f9fa;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left : 25px;
    bottom : 25px;
}

/* .nav__btn {
    width: 25%;
    
}

.nav__btn:first-child {
    justify-content: center;
} */