.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--horizon-space);
    position: relative;
    top:10px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.main-screen {
    padding: 0px var(--horizon-space);
}

.chat__plus {
    position: relative;
}

#plus {
    padding:4px;
    background-color: white;
    position:absolute;
    right: 0px;
    bottom:5px;
}

.set {
    position: relative;
}

.set__dot{
    right:0.1px;
    bottom:13px;
}