.screen-header{
    display: flex;
    position: relative;
    top:30px;
    padding: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.screen-header__title {
    justify-items: left;
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}